* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

:root {
    --color-text: #F1F1F1;
    --color-background: #E0E7FF;

    --text-zinc-700: #3F3F46;
    --text-zinc-800: #27272A;

    --bg-indigo-300: #A5B4FC;
    --bg-indigo-400: #818CF8;
    --bg-indigo-500: #6366F1;
    --bg-indigo-600: #4646E5;
}

html,
body {
  font-family: 'Lexend';
  background-color: var(--color-background);
}

body {
  height: 100vh;
  overflow-x: hidden;
}

#wrapper {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  margin: 2rem 10%;
}

#wrapper > button {
  background-color: transparent;
  color: var(--bg-indigo-500);
  border: 0;
  cursor: pointer;
  font-size: .9rem;
  font-weight: bold;
  scale: 1;
  transition: .4s ease-in-out;
}

#wrapper > button:hover {
  color: var(--bg-indigo-600);
  scale: 1.1;
}

#topic-dropdown {
  background-color: var(--bg-indigo-300);
  border: 0;
  outline: none;
  margin-left: 5vw;
}

#topic {
  margin-bottom: 1.5rem;
  color: var(--bg-indigo-600);
  font-family: 'Inter';
  font-size: 1.2rem;
}

table {
  border-collapse: collapse;
  width: 90vw;
  margin: 0 5vw;
}

th,
td {
  border: 1px solid var(--bg-indigo-300);
  padding: .5rem;
  text-align: center;
}

th {
  background-color: var(--bg-indigo-400);
  color: var(--color-text);
}

td input[type="radio"] {
  display: block;
  margin: 0 auto;
}

h3 {
  text-align: center;
}

#table-body {
  background-color: var(--bg-indigo-300);
  color: var(--text-zinc-700);
}

#buttons-controller {
  width: 90vw;
  margin: 0 5vw;
  display: flex;
  justify-content: space-between;
}

#buttons-controller > button {
  border: 0;
  background-color: transparent;
  color: var(--text-zinc-800);
  font-family: 'Lexend';
  font-size: .9rem;
  transition: .4s ease-in-out;
}

#buttons-controller > button:hover {
  font-size: 1rem;
}